/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@keyframes vibrate-2 {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(2px, -2px); }
  40% {
    transform: translate(2px, 2px); }
  60% {
    transform: translate(-2px, 2px); }
  80% {
    transform: translate(-2px, -2px); }
  100% {
    transform: translate(0); } }

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.267)), url(../images/lp-background.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  header .vibrate-2:hover {
    animation: vibrate-2 0.3s linear infinite both; }
  header .text-box {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 500px;
    transform: translate(-10%, -5%); }
  header .text-box-headline {
    color: #fff; }

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
@keyframes vibrate-2 {
  0% {
    transform: translate(0); }
  20% {
    transform: translate(2px, -2px); }
  40% {
    transform: translate(2px, 2px); }
  60% {
    transform: translate(-2px, 2px); }
  80% {
    transform: translate(-2px, -2px); }
  100% {
    transform: translate(0); } }
