@import './../basic/fonts.scss';
@import './../modules/classes.scss';
@import './../modules/mixins.scss';
@import './../modules/variables.scss';
@import './../main/keyframes.scss';

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.267)),url(../images/lp-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .navbar-txt {
        @extend %ttbold;
        font-size: $fontsize02;
    
    }
    .vibrate-2 {
        &:hover{
            animation: vibrate-2 0.3s linear infinite both;
        }
    }
    .text-box {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 500px;
        transform: translate(-10%, -5%);
    }
    .text-box-headline {
        color: #fff;
        @extend %ttregular;
        font-size: $fontsize05;
    }
    .show-more {
        @extend %ttsemibold;
    }
    .show-fullstory {
        @extend %ttsemibold;
    }

}

section {
    margin-top: 70px;
    .band-story {
        max-width: 800px;
        width: 100%;
        margin:0 auto;
        padding: 30px;
    }
    .band-story-headline {
        @extend %ttregular;
        font-size : $fontsize06;
        text-align: center;
    }
    .band-story-para {
        @extend %nerko;
        font-size: $fontsize03;
        margin-top: 20px;
    }
    
}