@import './../basic/fonts.scss';
@import './../modules/classes.scss';
@import './../modules/mixins.scss';
@import './../modules/variables.scss';
@import './../main/keyframes.scss';
@import './../main/media.scss';


// BASIC SETUP



header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.267)),url(../images/lp-background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    .navbar {
        background-color: $color02;
        opacity: 0.8;
    }
    .navbar-txt {
        @extend %ttbold;
        font-size: $fontsize03;
        color: $color04;
    }
    .vibrate-2 {
        &:hover{
            animation: vibrate-2 0.3s linear infinite both;
        }
    }
    .text-box {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 500px;
        transform: translate(-10%, -5%);
    }
    .text-box-headline {
        color: $color05;
        @extend %ttregular;
        font-size: $fontsize05;
        
    }
    .show-more {
        @extend %ttsemibold;
        color: $color02;
    }
    .show-fullstory {
        @extend %ttsemibold;
        color: $color05;
    }

}

section {
    margin-top: 70px;
    .band-story {
        max-width: 800px;
        width: 100%;
        margin:0 auto;
        padding: 30px;
        &:after {
            display: block;
            height: 2px;
            background-color: $color03;
            content: " ";
            width: 100px;
            margin: 0 auto;
            margin-top: 70px;
        }
    }
    .band-story-headline {
        @extend %headline;
    }
    .band-story-para {
        @extend %nerko;
        font-size: $fontsize03;
        margin-top: 20px;
        color: $color02;
    }
    .anniversary-para {
        @extend %nerko;
        font-size: $fontsize03;
        margin-top: 20px;
        color: $color02;
    }
    
    .band-members-section {
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
        flex-wrap: wrap;
        
    }
    .band-members-headline {
        @extend %headline; 
    }
    .card-title {
        @extend %ttsemibold;
        font-size : $fontsize04;
        color: $color03;
    }
    .card-text {
        @extend %ttregular;
        font-size : $fontsize03;
        color: $color02;
    }
    .card-img {
        
        &:hover {
            animation: heartbeat 1.5s ease-in-out infinite both;
        }
    }
    .gallery-section {
        padding: 0;
        
    }
    .gallery-headline {
        @extend %headline;
        margin-bottom: 30px;
        &:after {
            display: block;
            height: 2px;
            background-color: $color03;
            content: " ";
            width: 50px;
            margin: 0 auto;
            margin-top: 20px;
        } 
    }
    .gallery-showcase {
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0;
        padding-inline-start: 0px;
        margin-block-end: 0;
        margin-block-start: 0;
    }
    .gallery-showcase-li {
        display: block;
        width: 25%;
        height: 100%;
    }
    .gallery-photo {
        width: 100%;
        margin: 0;
        overflow: hidden;
        background-color: $color04;
    }
    .gallery-img {
        opacity: 0.7;
        width: 100%;
        height: auto;
        transform: scale(1.15);
        transition: transform 0.5s, opacity 0.5s;
        &:hover {
            opacity: 1;
            transform: scale(1.03);
        }
    }
}


