@import './variables.scss';


// FONT-FAMILY property

%nerko {
    font-family: 'Nerko One';
}

%ttbold {
    font-family: 'Titillium Web Bold';
}

%ttexlight {
    font-family: 'Titillium Web EL';
}

%ttsemibold {
    font-family: 'Titillium Web SB';
}

%ttregular {
    font-family: 'Titillium Web Regular';
}
