// font-size variables 


$fontsize01 : 12px;
$fontsize02 : 14px;
$fontsize07 : 16px;
$fontsize03 : 18px;
$fontsize04 : 24px;
$fontsize06 : 36px;
$fontsize05 : 42px;




// color variable

$color01 : #353b48;
$color02 : #34495e;
$color03 : rgba(64, 64, 122,1.0);
$color04 : #000;
$color05 : #f5f6fa;
$color06 : #b3d9ff;
$color07 : #000fe2;
$color08 : #00001a;
$color09 : #e9e9e9b4;
$color10 : #313ffc88;

